In [ ]:
# Start writing code here...
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

### Join

* Join of data in to one is Joins 
* We have different types of Join consepts Such as 
  * Inner Join or Natural join
  * Outer Join or Full outer join
  * Left Join or Left outer join
  * Right Join or Right outer join

pd.merge(
    left,
    right,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [ ]:
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
  'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
d1

{'Customer_id': 0    1
 1    2
 2    3
 3    4
 4    5
 5    6
 dtype: int64,
 'Product': 0          Oven
 1          Oven
 2          Oven
 3    Television
 4    Television
 5    Television
 dtype: object}

In [ ]:
df1 = pd.DataFrame(d1)

In [ ]:
d2 = {'Customer_id':pd.Series([2,4,6,7,8]),
    'State':pd.Series(['California','California','Texas','New York','Indiana'])}
df2 = pd.DataFrame(d2)
df2 # y

   Customer_id       State
0            2  California
1            4  California
2            6       Texas
3            7    New York
4            8     Indiana

In [ ]:
df1 # X

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television

In [ ]:
# To keep only rows that match from the data frames, specify the argument how=‘inner’.

inner_join_df = pd.merge(df1,df2,on="Customer_id",how="inner")
inner_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

In [ ]:
# Outer Join or Full outer join:To keep all rows from both data frames, specify how=‘outer’.
outter_join_df = pd.merge(df1,df2,on="Customer_id",how="outer")
outter_join_df

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas
6            7         NaN    New York
7            8         NaN     Indiana

In [ ]:
# Left Join or Left outer join:
#To include all the rows of your data frame x and only those from y that match, specify how=‘left’.
# left join in python

left_join_df= pd.merge(df1, df2, on='Customer_id', how='left')
left_join_df

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

In [ ]:
# right join in python pandas

right_join_df= pd.merge(df1, df2, on='Customer_id', how='right')
right_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas
3            7         NaN    New York
4            8         NaN     Indiana

In [ ]:
left = pd.DataFrame({
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right = pd.DataFrame({
     "key": ["K0", "K1", "K2", "K3"],
     "C": ["C0", "C1", "C2", "C3"],
     "D": ["D0", "D1", "D2", "D3"],
})

In [ ]:
resuilt = pd.merge(left,right)
resuilt

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
result = pd.merge(left, right, on="key")
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key.png)

In [ ]:
left = pd.DataFrame({
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
})
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
right = pd.DataFrame({
     "key1": ["K0", "K1", "K1", "K2"],
     "key2": ["K0", "K0", "K0", "K0"],
     "C": ["C0", "C1", "C2", "C3"],
     "D": ["D0", "D1", "D2", "D3"],
})

In [ ]:
result = pd.merge(left,right,on=['key1','key2'])

In [ ]:
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_multiple.png)

In [ ]:
result = pd.merge(left, right, how="left", on=["key1", "key2"])

In [ ]:
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_left.png)

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [ ]:
pop = pd.read_csv('https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/state-population.csv')
areas = pd.read_csv('https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/state-areas.csv')
abbrevs = pd.read_csv('https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/state-abbrevs.csv')

display('pop.head()', 'areas.head()', 'abbrevs.head()')

pop.head()
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

areas.head()
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

abbrevs.head()
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [ ]:
pop.shape,areas.shape,abbrevs.shape

((2544, 4), (52, 2), (51, 2))

In [ ]:
pop.isnull().sum()

state/region     0
ages             0
year             0
population      20
dtype: int64

In [ ]:
areas.isnull().sum()

state            0
area (sq. mi)    0
dtype: int64

In [ ]:
abbrevs.isnull().sum()

state           0
abbreviation    0
dtype: int64

In [ ]:
# merge is happend default == inner because we loos the information
merged  = pd.merge(pop,
                    abbrevs,
                    left_on="state/region",
                    right_on="abbreviation",
                    )
merged.head()

  state/region     ages  year  population    state abbreviation
0           AL  under18  2012   1117489.0  Alabama           AL
1           AL    total  2012   4817528.0  Alabama           AL
2           AL  under18  2010   1130966.0  Alabama           AL
3           AL    total  2010   4785570.0  Alabama           AL
4           AL  under18  2011   1125763.0  Alabama           AL

In [ ]:
merged.isnull().sum()

state/region    0
ages            0
year            0
population      0
state           0
abbreviation    0
dtype: int64

In [ ]:
merged.shape

(2448, 6)

In [ ]:
merged  = pd.merge(pop,
                    abbrevs,
                    left_on="state/region",
                    right_on="abbreviation",
                    how="outer")
merged.head()

  state/region     ages  year  population    state abbreviation
0           AL  under18  2012   1117489.0  Alabama           AL
1           AL    total  2012   4817528.0  Alabama           AL
2           AL  under18  2010   1130966.0  Alabama           AL
3           AL    total  2010   4785570.0  Alabama           AL
4           AL  under18  2011   1125763.0  Alabama           AL

In [ ]:
merged.isnull().sum()

state/region     0
ages             0
year             0
population      20
state           96
abbreviation    96
dtype: int64

In [ ]:
merged.shape

(2544, 6)

In [ ]:
merged = merged.drop('abbreviation', 1) # drop duplicate info
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [ ]:

merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [ ]:
merged[merged['population'].isnull()]

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN
2453           PR  under18  1993         NaN   NaN
2454           PR  under18  1992         NaN   NaN
2455           PR    total  1992         NaN   NaN
2456           PR  under18  1994         NaN   NaN
2457           PR    total  1994         NaN   NaN
2458           PR    total  1995         NaN   NaN
2459           PR  under18  1995         NaN   NaN
2460           PR  under18  1996         NaN   NaN
2461           PR    total  1996         NaN   NaN
2462           PR  under18  1998         NaN   NaN
2463           PR    total  1998         NaN   NaN
2464           PR    total  1997         NaN   NaN
2465           PR  under18  1997         NaN   NaN
2466           PR    total  1999         NaN   NaN
2467           PR  under18  1999         NaN   NaN

In [ ]:
merged[merged['state'].isnull()]

     state/region     ages  year   population state
2448           PR  under18  1990          NaN   NaN
2449           PR    total  1990          NaN   NaN
2450           PR    total  1991          NaN   NaN
2451           PR  under18  1991          NaN   NaN
2452           PR    total  1993          NaN   NaN
...           ...      ...   ...          ...   ...
2539          USA    total  2010  309326295.0   NaN
2540          USA  under18  2011   73902222.0   NaN
2541          USA    total  2011  311582564.0   NaN
2542          USA  under18  2012   73708179.0   NaN
2543          USA    total  2012  313873685.0   NaN

[96 rows x 5 columns]

In [ ]:
merged.loc[merged['state'].isnull(),"state/region"].unique()

array(['PR', 'USA'], dtype=object)

In [ ]:
merged.loc[merged['state/region']=="PR",'state']="Puerto Rico"

In [ ]:
merged.loc[merged['state/region']=="USA",'state']="United States"

In [ ]:
merged.isnull().sum()

state/region     0
ages             0
year             0
population      20
state            0
dtype: int64

In [ ]:
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [ ]:
areas.head()

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [ ]:
final_data = pd.merge(merged,areas,on="state",how='left')

In [ ]:
final_data.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [ ]:
final_data.isnull().sum()

state/region      0
ages              0
year              0
population       20
state             0
area (sq. mi)    48
dtype: int64

In [ ]:
final_data.isnull().any()

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

In [ ]:
final_data['state'][final_data['area (sq. mi)'].isnull()].unique()

array(['United States'], dtype=object)

In [ ]:
final_data.dropna(inplace=True)
final_data.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [ ]:
final_data.isnull().sum()

state/region     0
ages             0
year             0
population       0
state            0
area (sq. mi)    0
dtype: int64

In [ ]:
data2010 = final_data.query("year == 2010 & ages == 'total'")

In [ ]:
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

In [ ]:
data2010.set_index("state",inplace=True)

In [ ]:
data2010.head(2)

        state/region   ages  year  population  area (sq. mi)
state
Alabama           AL  total  2010   4785570.0        52423.0
Alaska            AK  total  2010    713868.0       656425.0

In [ ]:
density  = data2010["population"]/data2010['area (sq. mi)']

In [ ]:
density.sort_values(ascending=True, inplace=True)
density.head()

state
Alaska           1.087509
Wyoming          5.768079
Montana          6.736171
North Dakota     9.537565
South Dakota    10.583512
dtype: float64

In [ ]:
final_data.to_csv("US_States_Data.csv")

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f5f90ba1-3290-463e-8fc6-44108f4fa21b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>