## Aggregation and Grouping

## Aggregate
* Aggregate using one or more operations over the specified axis
* The aggregation operations are always performed over an axis, either the `index (default)` or the `column axis`.
* This behavior is different from numpy aggregation functions (mean, median, prod, sum, std,var), where the default is to compute the aggregation of the flattened array, e.g., **numpy.mean(arr_2d)** as opposed to **numpy.mean(arr_2d, axis=0)**.

In [ ]:
# Start writing code here...
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame([[1,2,3,4],
                    [4,5,6],
                    [7,8,9],
                    [np.nan,np.nan,np.nan]
                ])

In [ ]:
df.columns = ['A','B','C','D']

In [ ]:
df

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  4.0  5.0  6.0  NaN
2  7.0  8.0  9.0  NaN
3  NaN  NaN  NaN  NaN

In [ ]:
df.agg(['sum','min'])

        A     B     C    D
sum  12.0  15.0  18.0  4.0
min   1.0   2.0   3.0  4.0

In [ ]:
df.aggregate(['sum','max'])

        A     B     C    D
sum  12.0  15.0  18.0  4.0
max   7.0   8.0   9.0  4.0

In [ ]:
df.agg({"A":['sum','min'],
        'B':['min','max']
        })

        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0

In [ ]:
df.agg(x=('A',max),y=('B',"min"),z= ('C',np.mean))

     A    B    C
x  7.0  NaN  NaN
y  NaN  2.0  NaN
z  NaN  NaN  6.0

In [ ]:
df.agg("mean",axis="columns")

0    2.5
1    5.0
2    8.0
3    NaN
dtype: float64

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

The following table summarizes some other built-in Pandas aggregations:

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``first()``, ``last()``  | First and last item             |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

These are all methods of ``DataFrame`` and ``Series`` objects.

|Function Name      |   NaN-safe Version  | Description                                   |
|-------------------|---------------------|-----------------------------------------------|
| ``np.sum``        | ``np.nansum``       | Compute sum of elements                       |
| ``np.prod``       | ``np.nanprod``      | Compute product of elements                   |
| ``np.mean``       | ``np.nanmean``      | Compute mean of elements                      |
| ``np.std``        | ``np.nanstd``       | Compute standard deviation                    |
| ``np.var``        | ``np.nanvar``       | Compute variance                              |
| ``np.min``        | ``np.nanmin``       | Find minimum value                            |
| ``np.max``        | ``np.nanmax``       | Find maximum value                            |
| ``np.argmin``     | ``np.nanargmin``    | Find index of minimum value                   |
| ``np.argmax``     | ``np.nanargmax``    | Find index of maximum value                   |
| ``np.median``     | ``np.nanmedian``    | Compute median of elements                    |
| ``np.percentile`` | ``np.nanpercentile``| Compute rank-based statistics of elements     |
| ``np.any``        | N/A                 | Evaluate whether any elements are true        |
| ``np.all``        | N/A                 | Evaluate whether all elements are true        |

We will see these aggregates often throughout the rest of the book.

In [ ]:
planets.agg({'orbital_period':['min','max',np.mean,np.var,np.median,np.std,'prod']})

        orbital_period
min       9.070629e-02
max       7.300000e+05
mean      2.002918e+03
var       6.767661e+08
median    3.997950e+01
std       2.601473e+04
prod               inf

## Grouping

* By “group by” we are referring to a process involving one or more of the following steps:

    * **Splitting** the data into groups based on some criteria
    * **Applying** a function to each group independently
    * **Combining** the results into a data structure

In [ ]:
df = pd.DataFrame({'Raju':['Accountent','Business','Business','Accountent','Accountent','Business','Accountent','Accountent'],
                    "Rani":["one", "one", "two", "three", "two", "two", "one", "three"],
                    "A":np.random.randn(8),
                    "B":np.random.randn(8)             
                
                })

In [ ]:
df

         Raju   Rani         A         B
0  Accountent    one  0.283831 -0.275859
1    Business    one -0.733322 -1.243281
2    Business    two -1.575425  1.625414
3  Accountent  three  0.476836 -0.197531
4  Accountent    two  1.576982 -0.525720
5    Business    two -0.551117 -0.483014
6  Accountent    one -0.424746  0.587001
7  Accountent  three -0.790548 -0.328580

In [ ]:
df.groupby('Raju').sum()

                   A         B
Raju
Accountent  1.122355 -0.740690
Business   -2.859864 -0.100881

In [ ]:
df.groupby(['Raju','Rani']).sum()

                         A         B
Raju       Rani
Accountent one   -0.140915  0.311142
           three -0.313712 -0.526111
           two    1.576982 -0.525720
Business   one   -0.733322 -1.243281
           two   -2.126542  1.142400

Out of these, the split step is the most straightforward. In fact, in many situations we may wish to split the data set into groups and do something with those groups. In the apply step, we might wish to do one of the following:


* **Aggregation:** compute a summary statistic (or statistics) for each group. Some examples:
    * Compute group sums or means.
    * Compute group sizes / counts.
* **Transformation:** perform some group-specific computations and return a like-indexed object. Some examples:
    * Standardize data (zscore) within a group.
    * Filling NAs within groups with a value derived from each group.

* **Filtration:** discard some groups, according to a group-wise computation that evaluates True or False. Some examples:
    * Discard data that belongs to groups with only a few members.
    * Filter out data based on the group sum or mean.


Some combination of the above: GroupBy will examine the results of the apply step and try to return a sensibly combined result if it doesn’t fit into either of the above two categories.

In [ ]:
df = pd.DataFrame([
			("bird", "Falconiformes", 389.0),
			("bird", "Psittaciformes", 24.0),
			("mammal", "Carnivora", 80.2),
			("mammal", "Primates", np.nan),
			("mammal", "Carnivora", 58),
		],
		index=["falcon", "parrot", "lion", "monkey", "leopard"],
		columns=("class", "order", "max_speed"))

In [ ]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
grouped  = df.groupby('class')
grouped


# bird
    
# mammal

In [ ]:
grouped = df.groupby("order", axis="columns")

In [ ]:
grouped = df.groupby(["class", "order"])
grouped

In [ ]:
df2 = pd.DataFrame({"X": ["B", "B", "A", "A"], "Y": [1, 2, 3, 4]})
df2

   X  Y
0  B  1
1  B  2
2  A  3
3  A  4

In [ ]:
df2.groupby(['X']).sum() # By Default sort is True

   Y
X
A  7
B  3

In [ ]:
df2.groupby(['X'],sort=False).sum()

   Y
X
B  3
A  7

In [ ]:
df3 = pd.DataFrame({"X": ["A", "B", "A", "B"], "Y": [1, 4, 3, 2]})
df3

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2

In [ ]:
df3.groupby(['X']).get_group('A')

   X  Y
0  A  1
2  A  3

In [ ]:
df3.groupby(['X']).get_group('B')

   X  Y
1  B  4
3  B  2

In [ ]:
df_list = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df_list

[[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]

In [ ]:
df_dropna = pd.DataFrame(df_list, columns=["a", "b", "c"])
df_dropna

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [ ]:
df_dropna.groupby(by=['b'],
                dropna=True).sum()

     a  c
b
1.0  2  3
2.0  2  5

In [ ]:
df_dropna.groupby(by=['b'],
                dropna=False).sum()

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4

In [ ]:
df.dtypes

class         object
order         object
max_speed    float64
dtype: object

In [ ]:
df.groupby("class").groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [ ]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]

In [ ]:
index = pd.MultiIndex.from_arrays(arrays, names=["first", "second"])

In [ ]:
df = pd.DataFrame({"A": [1, 1, 1, 1, 2, 2, 3, 3], "B": np.arange(8)}, index=index)
df

              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
foo   one     2  4
      two     2  5
qux   one     3  6
      two     3  7

In [ ]:
df.groupby([pd.Grouper(level=1), "A"]).sum()

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

In [ ]:
df.groupby([pd.Grouper(level="second"), "A"]).sum()

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

In [ ]:
df.groupby(["second", "A"]).sum()

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

In [ ]:
grouped = df.groupby('A')

for name,group in grouped:
    print(name)
    print("*"*15)
    print(group)

1
***************
              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
2
***************
              A  B
first second
foo   one     2  4
      two     2  5
3
***************
              A  B
first second
qux   one     3  6
      two     3  7

In [ ]:
grouped = df.groupby(["A", "B"])
grouped.agg(np.sum)

Empty DataFrame
Columns: []
Index: [(1, 0), (1, 1), (1, 2), (1, 3), (2, 4), (2, 5), (3, 6), (3, 7)]

In [ ]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [ ]:
df.groupby('key').aggregate(['min',max,np.mean])

    data1          data2
      min max mean   min max mean
key
A       0   3  1.5     3   5  4.0
B       1   4  2.5     0   7  3.5
C       2   5  3.5     3   9  6.0

In [ ]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

## Filtering

In [ ]:
def filter_func(x):
    return x['data2'].std()>4  # T/F

In [ ]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [ ]:
df.groupby('key').filter(filter_func)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

### Transformation

In [ ]:
df.groupby('key').transform(lambda x:x-x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

## apply

In [ ]:
def norm_by_data2(x):
    x['data1'] /=  x['data2'].sum()
    return x

In [ ]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [ ]:
url = "https://raw.githubusercontent.com/reddyprasade/Data-Analysis-with-Python/main/Statistics/Data/zoo.csv"

In [ ]:
zoo = pd.read_csv(url, delimiter = ',')
zoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [ ]:
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [ ]:
zoo[['animal']].count()

animal    22
dtype: int64

In [ ]:
zoo.water_need.sum()

7650

In [ ]:
zoo.sum()

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [ ]:
zoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [ ]:
# This returns a DataFrame object.
zoo.groupby('animal').mean()[['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [ ]:
# This returns a Series object.
zoo.groupby('animal').mean().water_need

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f5f90ba1-3290-463e-8fc6-44108f4fa21b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>