# Analytics Data Pipeline

In [ ]:
# Start writing code here...
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from genpipes import declare, compose
from collections.abc import Iterable

In [ ]:
@declare.generator()
@declare.datasource(inputs = ["https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/Advertising.csv"])
def data_to_be_processed(path:str) -> pd.DataFrame:
    df = pd.read_csv(path)
    print(df.head())
    return df

In [ ]:
pipe = compose.Pipeline(steps=[
    ("fetching datasource from some csv file",data_to_be_processed,{}),
])

In [ ]:
output = pipe.run()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
@declare.datasource(inputs=["https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/state-abbrevs.csv"])
def data_one(path:str) -> pd.DataFrame:
    df = pd.read_csv(path)
    return df

@declare.datasource(inputs=["https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/state-areas.csv"])
def data_two(path:str) -> pd.DataFrame:
    df = pd.read_csv(path)
    return df

In [ ]:
from typing import Callable

@declare.generator(inputs=[data_one, data_two])
def merging_data(input_one:Callable, input_two:Callable) -> pd.DataFrame:
    df_one = input_one()
    df_two = input_two()
    df_merged = df_one.merge(df_two)
    print(df_merged)
    return df_merged

In [ ]:
empty_stream = () # use to feed the generator decorated function

gen_one = merging_data(empty_stream)
gen_two = merging_data(empty_stream)

# multiple consuming
consumer_one = next(gen_one)
consumer_two = next(gen_two)

assert consumer_one.equals(consumer_two) # True

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818
                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818
                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818
                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818

In [ ]:
ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Seattle', 'London', 'Lahore', 'Berlin', 'Abuja']

In [ ]:
df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Cities'])
df

   Ids   Cities
0   11  Seattle
1   22   London
2   33   Lahore
3   44   Berlin
4   55    Abuja

In [ ]:
pd.get_dummies(df)

,Ids,Cities_Abuja,Cities_Berlin,Cities_Lahore,Cities_London,Cities_Seattle
0,11,0,0,0,0,1
1,22,0,0,0,1,0
2,33,0,0,1,0,0
3,44,0,1,0,0,0
4,55,1,0,0,0,0

## pdpipe

In [ ]:
import pdpipe as pdp

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f5f90ba1-3290-463e-8fc6-44108f4fa21b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>